$color-primary: theme('colors.gray.700') !default;
$color-accent: theme('colors.slate.600') !default;
$color-contrast: theme('colors.teal.200') !default;
$color-range: theme('colors.emerald.50') !default;

.flatpickr-calendar {
	position: absolute;
	display: none;
	width: 307.875px;
	padding: 0;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	background: transparent;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 3px 13px rgba(0, 0, 0, 0.08);
	animation: none;
	box-sizing: border-box;
	visibility: hidden;
	opacity: 0;
	direction: ltr;
	touch-action: manipulation;

	&.open,
	&.inline {
		max-height: 640px;
		visibility: visible;
		opacity: 1;
	}

	&.open {
		display: inline-block;
		z-index: 99999;
	}

	&.animate.open {
		animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	&.inline {
		position: relative;
		display: block;
		top: 2px;
	}

	&.static {
		position: absolute;
		top: calc(100% + 2px);

		&.open {
			display: block;
			z-index: 999;
		}
	}

	&.multiMonth .flatpickr-days .dayContainer {
		&:nth-child(n + 1) .flatpickr-day.inRange:nth-child(7n + 7) {
			box-shadow: none !important;
		}

		&:nth-child(n + 2) .flatpickr-day.inRange:nth-child(7n + 1) {
			box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
		}
	}

	.hasWeeks .dayContainer,
	.hasTime .dayContainer {
		border-bottom: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.hasWeeks .dayContainer {
		border-left: 0;
	}

	&.hasTime {
		.flatpickr-time {
			height: 40px;
			border-top: 1px solid rgba(72, 72, 72, 0.1);
		}

		.flatpickr-innerContainer {
			border-bottom: 0;
		}

		.flatpickr-time {
			border: 1px solid rgba(72, 72, 72, 0.1);
		}
	}

	&.noCalendar.hasTime .flatpickr-time {
		height: auto;
	}

	&:before,
	&:after {
		position: absolute;
		content: '';
		display: block;
		left: 22px;
		width: 0;
		height: 0;
		border: solid transparent;
		pointer-events: none;
	}

	&.rightMost:before,
	&.arrowRight:before,
	&.rightMost:after,
	&.arrowRight:after {
		left: auto;
		right: 22px;
	}

	&.arrowCenter {
		&:before,
		&:after {
			left: 50%;
			right: 50%;
		}
	}

	&:before {
		margin: 0 -5px;
		border-width: 5px;
	}

	&:after {
		margin: 0 -4px;
		border-width: 4px;
	}

	&.arrowTop {
		&:before,
		&:after {
			bottom: 100%;
		}

		&:before {
			border-bottom-color: rgba(72, 72, 72, 0.1);
		}

		&:after {
			border-bottom-color: $color-accent;
		}
	}

	&.arrowBottom {
		&:before,
		&:after {
			top: 100%;
		}

		&:before {
			border-top-color: rgba(72, 72, 72, 0.1);
		}

		&:after {
			border-top-color: $color-accent;
		}
	}

	&:focus {
		outline: 0;
	}
}

.flatpickr-wrapper {
	position: relative;
	display: inline-block;
}

.flatpickr-months {
	display: -webkit-flex;
	display: flex;

	.flatpickr-month {
		position: relative;
		-webkit-flex: 1;
		flex: 1;
		height: 34px;
		line-height: 1;
		text-align: center;
		color: white;
		background: $color-accent;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
		user-select: none;
		fill: white;
	}

	.flatpickr-prev-month,
	.flatpickr-next-month {
		position: absolute;
		top: 0;
		height: 34px;
		padding: 10px;
		text-decoration: none;
		color: white;
		cursor: pointer;
		z-index: 3;
		user-select: none;
		fill: white;
	}

	.flatpickr-prev-month.flatpickr-disabled,
	.flatpickr-next-month.flatpickr-disabled {
		display: none;
	}

	.flatpickr-prev-month i,
	.flatpickr-next-month i {
		position: relative;
	}

	.flatpickr-prev-month.flatpickr-prev-month {
		left: 0;
	}

	.flatpickr-next-month {
		&.flatpickr-prev-month {
			left: 0;
			right: 0;
		}

		&.flatpickr-next-month {
			right: 0;
		}
	}

	.flatpickr-prev-month:hover,
	.flatpickr-next-month:hover {
		color: #bbbbbb;
	}

	.flatpickr-prev-month:hover svg,
	.flatpickr-next-month:hover svg {
		opacity: 0.5;
	}

	.flatpickr-prev-month svg,
	.flatpickr-next-month svg {
		width: 14px;
		height: 14px;
	}

	.flatpickr-prev-month svg path,
	.flatpickr-next-month svg path {
		-webkit-transition: fill 0.1s;
		transition: fill 0.1s;
	}
}

.numInputWrapper {
	position: relative;
	height: auto;

	input,
	span {
		display: inline-block;
	}

	input {
		width: 100%;

		&::-ms-clear {
			display: none;
		}

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			margin: 0;
			appearance: none;
		}
	}

	span {
		position: absolute;
		right: 0;
		width: 14px;
		height: 50%;
		padding: 0 4px 0 2px;
		line-height: 50%;
		border: 1px solid rgba(72, 72, 72, 0.15);
		box-sizing: border-box;
		opacity: 0;
		cursor: pointer;

		&:hover {
			background: rgba(0, 0, 0, 0.1);
		}

		&:active {
			background: rgba(0, 0, 0, 0.2);
		}

		&:after {
			position: absolute;
			content: '';
			display: block;
		}

		&.arrowUp {
			top: 0;
			border-bottom: 0;

			&:after {
				top: 26%;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 4px solid rgba(72, 72, 72, 0.6);
			}
		}

		&.arrowDown {
			top: 50%;

			&:after {
				top: 40%;
				border-top: 4px solid rgba(72, 72, 72, 0.6);
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
			}
		}

		svg {
			width: inherit;
			height: auto;

			path {
				fill: rgba(255, 255, 255, 0.5);
			}
		}
	}

	&:hover {
		background: rgba(0, 0, 0, 0.05);

		span {
			opacity: 1;
		}
	}
}

.flatpickr-current-month {
	position: absolute;
	display: inline-block;
	left: 12.5%;
	width: 75%;
	height: 34px;
	padding: 7.48px 0 0 0;
	font-size: 135%;
	font-weight: 300;
	line-height: 1;
	text-align: center;
	color: inherit;
	transform: translate3d(0px, 0px, 0px);

	span.cur-month {
		display: inline-block;
		margin-left: 0.5ch;
		padding: 0;
		font-family: inherit;
		font-weight: 700;
		color: inherit;

		&:hover {
			background: rgba(0, 0, 0, 0.05);
		}
	}

	.numInputWrapper {
		display: inline-block;
		width: 6ch;
		width: 7ch \0;

		span {
			&.arrowUp:after {
				border-bottom-color: white;
			}

			&.arrowDown:after {
				border-top-color: white;
			}
		}
	}

	input.cur-year {
		display: inline-block;
		height: auto;
		margin: 0;
		padding: 0 0 0 0.5ch;
		font-family: inherit;
		font-size: inherit;
		font-weight: 300;
		line-height: inherit;
		vertical-align: initial;
		color: inherit;
		background: transparent;
		border: 0;
		border-radius: 0;
		box-sizing: border-box;
		cursor: text;
		appearance: textfield;

		&:focus {
			outline: 0;
		}

		&[disabled] {
			font-size: 100%;
			color: rgba(255, 255, 255, 0.5);
			background: transparent;
			pointer-events: none;

			&:hover {
				font-size: 100%;
				color: rgba(255, 255, 255, 0.5);
				background: transparent;
				pointer-events: none;
			}
		}
	}

	.flatpickr-monthDropdown-months {
		position: relative;
		width: auto;
		height: auto;
		margin: -1px 0 0 0;
		padding: 0 0 0 0.5ch;
		font-family: inherit;
		font-size: inherit;
		font-weight: 300;
		line-height: inherit;
		vertical-align: initial;
		color: inherit;
		background: $color-accent;
		border: none;
		border-radius: 0;
		outline: none;
		box-sizing: border-box;
		cursor: pointer;
		appearance: menulist-button;

		&:focus,
		&:active {
			outline: none;
		}

		&:hover {
			background: rgba(0, 0, 0, 0.05);
		}

		.flatpickr-monthDropdown-month {
			padding: 0;
			background-color: $color-accent;
			outline: none;
		}
	}
}

.flatpickr-weekdays {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	width: 100%;
	height: 28px;
	text-align: center;
	background: $color-accent;
	overflow: hidden;

	.flatpickr-weekdaycontainer {
		display: -webkit-flex;
		display: flex;
		-webkit-flex: 1;
		flex: 1;
	}
}

span.flatpickr-weekday {
	display: block;
	-webkit-flex: 1;
	flex: 1;
	margin: 0;
	font-size: 90%;
	font-weight: bolder;
	line-height: 1;
	text-align: center;
	color: $color-contrast;
	cursor: default;
}

.dayContainer,
.flatpickr-weeks {
	padding: 1px 0 0 0;
}

.flatpickr-days {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	width: 307.875px;
	border-left: 1px solid rgba(72, 72, 72, 0.1);
	border-right: 1px solid rgba(72, 72, 72, 0.1);
	overflow: hidden;

	&:focus {
		outline: 0;
	}
}

.dayContainer {
	display: inline-block;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	min-width: 307.875px;
	width: 307.875px;
	max-width: 307.875px;
	padding: 0;
	text-align: left;
	outline: 0;
	transform: translate3d(0px, 0px, 0px);
	box-sizing: border-box;
	opacity: 1;

	+ .dayContainer {
		box-shadow: -1px 0 0 rgba(72, 72, 72, 0.1);
	}
}

.flatpickr-day {
	position: relative;
	display: inline-block;
	-webkit-flex-basis: 14.2857143%;
	flex-basis: 14.2857143%;
	-webkit-justify-content: center;
	justify-content: center;
	width: 14.2857143%;
	max-width: 39px;
	height: 39px;
	margin: 0;
	font-weight: 400;
	line-height: 39px;
	text-align: center;
	color: $color-primary;
	background: none;
	border: 1px solid transparent;
	border-radius: 150px;
	box-sizing: border-box;
	cursor: pointer;

	&.inRange,
	&.prevMonthDay.inRange,
	&.nextMonthDay.inRange,
	&.today.inRange,
	&.prevMonthDay.today.inRange,
	&.nextMonthDay.today.inRange,
	&:hover,
	&.prevMonthDay:hover,
	&.nextMonthDay:hover,
	&:focus,
	&.prevMonthDay:focus,
	&.nextMonthDay:focus {
		background: $color-range;
		border-color: $color-range;
		outline: 0;
		cursor: pointer;
	}

	&.today {
		border-color: #bbbbbb;

		&:hover,
		&:focus {
			color: white;
			background: #bbbbbb;
			border-color: #bbbbbb;
		}
	}

	&.selected,
	&.startRange,
	&.endRange,
	&.selected.inRange,
	&.startRange.inRange,
	&.endRange.inRange,
	&.selected:focus,
	&.startRange:focus,
	&.endRange:focus,
	&.selected:hover,
	&.startRange:hover,
	&.endRange:hover,
	&.selected.prevMonthDay,
	&.startRange.prevMonthDay,
	&.endRange.prevMonthDay,
	&.selected.nextMonthDay,
	&.startRange.nextMonthDay,
	&.endRange.nextMonthDay {
		color: white;
		background: $color-accent;
		border-color: $color-accent;
		box-shadow: none;
	}

	&.selected.startRange,
	&.startRange.startRange,
	&.endRange.startRange {
		border-radius: 50px 0 0 50px;
	}

	&.selected.endRange,
	&.startRange.endRange,
	&.endRange.endRange {
		border-radius: 0 50px 50px 0;
	}

	&.selected.startRange + .endRange:not(:nth-child(7n + 1)),
	&.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
	&.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
		box-shadow: -10px 0 0 $color-accent;
	}

	&.selected.startRange.endRange,
	&.startRange.startRange.endRange {
		border-radius: 50px;
	}

	&.inRange {
		border-radius: 0;
		box-shadow: -5px 0 0 $color-range, 5px 0 0 $color-range;
	}

	&.flatpickr-disabled {
		color: rgba(72, 72, 72, 0.3);
		background: transparent;
		border-color: transparent;
		cursor: default;

		&:hover {
			color: rgba(72, 72, 72, 0.3);
			background: transparent;
			border-color: transparent;
			cursor: default;
		}
	}

	&.prevMonthDay,
	&.nextMonthDay {
		color: rgba(72, 72, 72, 0.3);
		background: transparent;
		border-color: transparent;
		cursor: default;
	}

	&.notAllowed {
		color: rgba(72, 72, 72, 0.3);
		background: transparent;
		border-color: transparent;
		cursor: default;

		&.prevMonthDay,
		&.nextMonthDay {
			color: rgba(72, 72, 72, 0.3);
			background: transparent;
			border-color: transparent;
			cursor: default;
		}
	}

	&.flatpickr-disabled {
		color: rgba(72, 72, 72, 0.1);
		cursor: not-allowed;

		&:hover {
			color: rgba(72, 72, 72, 0.1);
			cursor: not-allowed;
		}
	}

	&.week.selected {
		border-radius: 0;
		box-shadow: -5px 0 0 $color-accent, 5px 0 0 $color-accent;
	}

	&.hidden {
		visibility: hidden;
	}
}

.rangeMode .flatpickr-day {
	margin-top: 1px;
}

.flatpickr-weekwrapper {
	float: left;

	.flatpickr-weeks {
		padding: 0 12px;
		border-left: 1px solid rgba(72, 72, 72, 0.1);
	}

	.flatpickr-weekday {
		float: none;
		width: 100%;
		line-height: 28px;
	}

	span.flatpickr-day {
		display: block;
		width: 100%;
		max-width: none;
		color: rgba(72, 72, 72, 0.3);
		background: transparent;
		border: none;
		cursor: default;

		&:hover {
			display: block;
			width: 100%;
			max-width: none;
			color: rgba(72, 72, 72, 0.3);
			background: transparent;
			border: none;
			cursor: default;
		}
	}
}

.flatpickr-innerContainer {
	display: block;
	display: -webkit-flex;
	display: flex;
	background: white;
	border-bottom: 1px solid rgba(72, 72, 72, 0.1);
	box-sizing: border-box;
	overflow: hidden;
}

.flatpickr-rContainer {
	display: inline-block;
	padding: 0;
	box-sizing: border-box;
}

.flatpickr-time {
	display: block;
	display: -webkit-flex;
	display: flex;
	height: 0;
	max-height: 40px;
	line-height: 40px;
	text-align: center;
	background: white;
	border-radius: 0 0 5px 5px;
	outline: 0;
	box-sizing: border-box;
	overflow: hidden;

	&:after {
		content: '';
		clear: both;
		display: table;
	}

	.numInputWrapper {
		float: left;
		-webkit-flex: 1;
		flex: 1;
		width: 40%;
		height: 40px;

		span {
			&.arrowUp:after {
				border-bottom-color: $color-primary;
			}

			&.arrowDown:after {
				border-top-color: $color-primary;
			}
		}
	}

	&.hasSeconds .numInputWrapper {
		width: 26%;
	}

	&.time24hr .numInputWrapper {
		width: 49%;
	}

	input {
		position: relative;
		height: inherit;
		margin: 0;
		padding: 0;
		font-size: 14px;
		line-height: inherit;
		text-align: center;
		color: $color-primary;
		background: transparent;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		box-sizing: border-box;
		appearance: textfield;

		&.flatpickr-hour {
			font-weight: bold;
		}

		&.flatpickr-minute,
		&.flatpickr-second {
			font-weight: 400;
		}

		&:focus {
			border: 0;
			outline: 0;
		}
	}

	.flatpickr-time-separator {
		float: left;
		align-self: center;
		width: 2%;
		height: inherit;
		font-weight: bold;
		line-height: inherit;
		color: $color-primary;
		user-select: none;
	}

	.flatpickr-am-pm {
		float: left;
		align-self: center;
		width: 18%;
		height: inherit;
		font-weight: 400;
		line-height: inherit;
		text-align: center;
		color: $color-primary;
		outline: 0;
		cursor: pointer;
		user-select: none;
	}

	input:hover,
	.flatpickr-am-pm:hover,
	input:focus,
	.flatpickr-am-pm:focus {
		background: #eaeaea;
	}
}

.flatpickr-input[readonly] {
	cursor: pointer;
}

@-webkit-keyframes fpFadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -20px, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fpFadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -20px, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
